<!-- Filename: main_nav.ejs | Author: Juan Arevalo | Date: 24-08-2023 -->

<nav class="navbar navbar-expand-lg navbar-light vh100">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="..\assets\images\logo_jbaruz.png" class="img-thumbnail rounded-square ms-4" alt="Logo Juan"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav ml-auto mx-2">

                <li class="nav-item  <%= title === 'Home' ? 'active' : '' %>">
                    <a class="nav-link active" href="/"><i class="fa-solid fa-house"></i> Home </a>
                </li>

                <li class="nav-item  <%= title === 'About' ? 'active' : '' %>">
                    <a class="nav-link" href="/about"><i class="fa-regular fa-address-card"></i> About </a>
                </li>

                <li class="nav-item  <%= title === 'Project' ? 'active' : '' %>">
                    <a class="nav-link" href="/projects"><i class="fa-solid fa-list-check"></i> Project </a>
                </li>

                <li class="nav-item  <%= title === 'Services' ? 'active' : '' %>">
                    <a class="nav-link" href="/services"><i class="fa-solid fa-microchip"></i> Services </a>
                </li>

                <li class="nav-item  <%= title === 'Contact' ? 'active' : '' %>">
                    <a class="nav-link" href="/contact"><i class="fa-regular fa-address-book"></i> Contact </a>
                </li>

                <li class="nav-item  <%= title === 'Link' ? 'active' : '' %>">
                    <a class="nav-link" href="/link"><i class="fa-solid fa-link"></i> Link </a>
                </li>
            </ul>
            <div class="mx-5 border-left border-light"></div>
                <form class="d-flex" action="https://you.com/search" method="get">
                    <input class="form-control me-1" type="text" name="q" placeholder="Search... on you.com"
                    aria-label="Search">
                    <input type="hidden" name="sitesearch" value="you.com">
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
            </div>
        </div>
</nav>